<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.room.room.rooms.dao.RoomsMapper">

    <!-- findAllRow --> 

    <select id="findAllRow"
            resultType="responseDTO">
        select ID, TITLE, content, memo, tel
        from   tb_rooms
    </select>

    <!-- insertRow --> 

    <insert id="insertRow"
            parameterType="requestDTO">
        insert into tb_rooms(title, content, memo, tel)
        values (#{title}, #{content}, #{memo}, #{tel})
    </insert>

    <!-- findRow --> 

    <select id="findRow"
            parameterType="java.util.HashMap"
            resultType="responseDTO">
        select *
        from   tb_rooms
        where  id = #{id}
    </select>

    <!-- deleteRow --> 

    <delete id="deleteRow"
            parameterType="java.util.HashMap">
        delete from tb_rooms
        where       id=#{id}
    </delete>

    <!-- updateRow --> 

    <update id="updateRow"
            parameterType="requestDTO">
        update tb_rooms
        set    title = #{title}, content = #{content}, memo = #{memo}, tel = #{tel}
        where  id = #{id}
    </update>

    
</mapper>